@charset "UTF-8";

/* 
PALETA DE CORES / FONTES
    #000033 - Azul escuro (transmite confiança)
    #FFFFFF - Branco (neutra que tem um bom contraste com o azul)
    #FF6600 - Laranja (vibrante e energética|botões/ações/destaques|
    #F2F2F2 - Cinza claro (suave e discreto|conteudo secundario|)
    #99CC00 - Verde (prosperidade|indicar crescimento|)

    Fonts:
    Roboto - Aparencia mecanica, amigavel e aberto sem serifas (txtP)
    Monstserrat - Cartaz antigos e sinais em Bueno Aires, moderna e elegante vintage
    Open Sans - Padrão, impressão, web e interface móveis. Legivel e amigavél (txtG)

    Roboto
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');
    </style>

    Monstserrat
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,900;1,800&display=swap');
    </style>

    Open-Sans
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
    </style>
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,900;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ff0000;
    height: 100vh;
    width: 100vw;
}

header {
    display: block;
    background-color: #000033;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: 'Monstserrat';
    padding-top: 10px;
    display: inline-block;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.352);
}

menu {
    padding: 10px;
    justify-content: space-between;
    display: flex;
}

menu > ul {
    list-style: none;
    text-align: left;
}

menu > ul > li{
    display: inline-block;
}

menu > ul > li > a{
    font-size: .9em;
    padding: 10px;
    text-decoration: none;
    background-color: #FF6600;
    color: white;
    position: relative;
    margin: auto;
    border-radius: 7px;
    font-family: 'Roboto';
}

menu > ul > li > a:hover {
    background-color: white;
    color: #FF6600;
    font-weight: bold;
    font-size: 1em;
}

menu > form  {
    text-align: right;
    background-color: #FF6600;
    border-radius: 10px;
}

menu > form > input {
    color: white;
    background-color: #FF6600;
    width: 195px;
    height: 29px;
    font-size: 1.3em;
    border: none;
    border-radius: 10px;
}

menu > form > input:hover {
    color: #FF6600;
    background-color: white;
}

#pesquisa {
    background-color: #FF6600;
    border: none;
    border-radius: 10px;
    color: white;
}

main {

}

.slider {
    margin: 0 auto;
    width: 500px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 100vw;
    
}

.manual-navigation {
    position: absolute;
    width: 100vw;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;

    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 100vw;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: white;
}